<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Compose</h1>


<form action="/compose" method="post">

    <label for="title" class="form-label">Name</label><br/>
    <input id="title" type="text" name="name" class="form-control"><br/>
    <label for="title" class="form-label">Title</label><br/>
    <input id="title" type="text" name="postTitle" class="form-control"><br/>
    <label for="post">Post</label><br/>
    <textarea id = "post" name="postBody" class="form-control"></textarea><br/>
    <button type="submit" class="btn btn-primary" >Pubish</button>

</form>
</body>
</html>