<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Animated Login Page</title>
    <link rel="stylesheet" href="css/loginwebdoc.css">
</head>

<body>

    <div class="box">
        <div class="form">
            <h2>Sign in</h2>
            <form action="/login" method="post">
            <div class="inputBox">
                <input type="email" required="required" name = "email">
                <span>E-Mail</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required" name="Password">
                <span>Password</span>
                <i></i>
            </div>
            <div class="links">
                <a href="/forgotpass">Forgot Password</a>
                <a href="/patient-register">Signup</a>
            </div>
            <input type="Submit" value="Login">
        </form>
        </div>
    </div>
</body>

</html>