<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/uploadstyle.css">
</head>
<body>
    

    <div class="main">
        <h1>Upload Prescription</h1>
        <form>
          <fieldset class="floating-placeholder">
            <input type="text" name="file-name" id="name">
            <label for="name">Doctor's Name</label>
          </fieldset>
          <fieldset class="file-container">
            <input id="file-input" type="file" name="file" accept="image/*" required>
            <label for="file-input">Upload Prescription</label>
          </fieldset>
          <input type="submit" value="Submit" name="submit" id="submit">
        </form>
        </div>
</body>


<script>

    const form = document.querySelector('form');
    form.addEventListener('submit', (e) => {
        
        e.preventDefault();
        // Prevents HTML handling submission
        const name = document.getElementById("name");
        const files = document.getElementById("file-input");
        const formData = new FormData();
        // Creates empty formData object
        formData.append("name", name.value);
        // Appends value of text input
        for(let i =0; i < files.files.length; i++) {
            formData.append("files", files.files[i]);
        }
        // Appends value(s) of file input
        // Post data to Node and Express server:
        fetch('http://127.0.0.1:3000/upload', {
            method: 'POST',
            body: formData, // Payload is formData object
        })
        .then(res => res.json())
        .then(data => console.log(data));
    })


</script>
</html>